.app-header {
  background: #f4f4f4;
  padding: 0;
  margin: 4px 0 0 0;
  text-align: center;
}

.logo-badge {
  position: relative;
  top: -7px;
  font-weight: 100;
  font-size: 16px;
  color: #BB79A8;
}

.not-found {
  font-style: italic;
  font-size: 10px;
}
